<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Worry Diary</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
    <body>
    <div class="header">
      <div>
        <h1>Worry Diary</h1>
        <p class="info">Keep track of what you are worrying about</p>
      </div>
    <div class="nav-links">
      <a class="links" href="/">Home</a>
      <a class="links" href="/compose">Write New Entry</a>
      <a class="links" href="/about">About</a>
    </div>
    </div>

    <div class="wrapper">
